nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
nav #logo_nav {
  width: 100px;
  height: 100px;
}
nav ul {
  list-style: none;
}
nav #list_nav li {
  color: white;
  padding-left: 10px;
}

header #img1 {
  max-height: 1200px;
  height: 500px;
}