nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
nav #logo_nav {
  width: 100px;
  height: 100px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav #list_nav li {
  color: white;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header #img1 {
  height: 500px;
  max-width: 1200px;
  margin-bottom: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  gap: 10px;
  border: 3px solid black;
}
.grid img {
  width: 500px;
  height: 800px;
}
.grid p {
  margin: 0px;
  text-align: center;
  font-size: 20px;
}

body {
  background-color: black;
  width: 1200px;
  margin: 0 auto;
}
body p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
body h1 {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: "DM Sans", sans-serif;
}
body h2 {
  color: white;
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
}
body h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  text-align: center;
  list-style: none;
}
footer li {
  padding-left: 10px;
}