nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
nav #logo_nav {
  width: 100px;
  height: 100px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav #list_nav li {
  color: white;
  padding-left: 30px;
}

header {
  margin-bottom: 300px;
}
header #img1 {
  max-height: 1200px;
  height: 500px;
}
header h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: "DM Sans", sans-serif;
}
header h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.grid img {
  width: 600px;
  height: 800px;
}
.grid p {
  margin: 0px;
  text-align: center;
  font-size: 20px;
}