body{
    background-color: black;
    
    p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    }
    
    h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'DM Sans', sans-serif;
    }

    h2{
        color: white;
        text-align: center;
        margin-bottom: 100px;
        font-size:30px;
        font-family: 'DM Sans', sans-serif;
    }

    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
}