body{
    background-color: black;
    margin: 0 auto;
    width: 1200px; 
    margin: 0 auto;
   
    
    p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    }
    
    h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'DM Sans', sans-serif;
    }

    h2{
        color: white;
        text-align: center;
        margin-bottom: 100px;
        font-size:30px;
        font-family: 'DM Sans', sans-serif;
    }

    h3{
        margin-top: 300px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
}

#bast_photo{
    width: 180px;
    height: 200px;;
    border-radius: 60%;
}

.github{
    margin-bottom: 150px;
    font-size: 30px;
    a{
        color:  #58d68d;
    }
    img{
        width: 100px;
        height:100px;
    }
} 

@media (min-width: 500px) and (max-width: 890px){
    body{
        background-color: black;
        margin: 0 auto;
        max-width: 770px; 
       
        
        p{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
        text-align: center;
        }
        
        h1{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
        font-family: 'DM Sans', sans-serif;
        }
    
        h2{
            color: white;
            text-align: center;
            margin-bottom: 100px;
            font-size:20px;
            font-family: 'DM Sans', sans-serif;
        }
    
        h3{
            margin-top: 300px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        
    }

    .github{
        margin-bottom: 150px;
        font-size: 20px;
        a{
            color:  #58d68d;
        }
    } 
    
}
@media (min-width: 320px) and (max-width: 500px){
    body{
        background-color: black;
        margin: 0 auto;
        width: 320px; 
        margin: 0 auto;
       
        
        p{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
        text-align: center;
        }
        
        h1{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
        font-family: 'DM Sans', sans-serif;
        }
    
        h2{
            color: white;
            text-align: center;
            margin-bottom: 100px;
            font-size:15px;
            font-family: 'DM Sans', sans-serif;
        }
    
        h3{
            margin-top: 300px;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        
    }

    .github{
        margin-bottom: 150px;
        font-size: 20px;
        a{
            color:  #58d68d;
        }
    } 
    
}