/*form{
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    margin-bottom: 80px;
    width: 500px;
    
    label{
        color: white;

    }

    textarea{
        resize: none;
        width: 300px;
        height: 100px;
        border-radius: 3px;
    }
} */