header{
    #img1{
        height: 300px;
        max-width: 1200px;
        margin-bottom: 300px;
    } 
}

@media (min-width: 500px) and (max-width: 890px){
    header{
        #img1{
            height: 100px;
            max-width: 890px;
            width: 800px;
            height: 300px;
            margin-bottom: 300px;
        } 
    }
}
@media (min-width: 320px) and (max-width: 500px){
    header{
        #img1{
            height: 100px;
            max-width: 500px;
            width: 330px;
            margin-bottom: 300px;
        } 
    }
}