header{
    #img1{
        height: 300px;
        max-width: 1200px;
        margin-bottom: 300px;
    } 
}

@media (min-width: 320px) and (max-width: 500px){
    #img1{ 
        max-width: 500px;
        height: 200px;
        height: 200px;
    } 
}