nav{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;

    div #logo_nav{
        width: 100px;
        height: 100px;
    }
    
   ul{
       display: flex;
       list-style: none;
    }

    a{
        text-decoration:none;
        color: white;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    
    a:hover{
        color: #58d68d;
        font-weight: bold;
        border-bottom: 1px solid #117a65  ;
    }

    a:visited{
        color:  #117a65  ;
        font-weight: bold;
    }
}

@media (min-width: 500px) and (max-width: 890px){
    nav{
        display: flex;
        background-color: black;
        align-items: center;
        justify-content: space-between;
    
        #logo_nav{
            width: 80px;
            height: 80px;
        }
        
       ul{
           display: flex;
           list-style: none;
        }
    
        a{
            text-decoration:none;
            color: white;
            font-size: 18px;
            padding: 2px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
}

@media (min-width: 500px) and (max-width: 890px){
    nav{
        display: flex;
        background-color: black;
        align-items: center;
        justify-content: space-between;
    
        #logo_nav{
            width: 80px;
            height: 80px;
        }
        
       ul{
           display: flex;
           list-style: none;
        }
    
        a{
            text-decoration:none;
            color: white;
            font-size: 16px;
            padding: 2px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
}
@media (min-width: 320px) and (max-width: 500px){
    nav{
        display: flex;
        background-color: black;
        align-items: center;
        justify-content: flex-start;
    
        #logo_nav{
            width: 80px;
            height: 80px;
        }
        
       ul{
           display: flex;
           list-style: none;
        }
    
        a{
            text-decoration:none;
            color: white;
            font-size: 16px;
            padding: 2px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
}