.stage{
    display: grid;
    width: 1200px;
    margin: 0 auto;
    a{
        text-decoration:none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    
    a:hover{
        color: #58d68d;
        font-weight: bold;
        border-bottom: 1px solid #117a65  ;
    }

    .nabs{
        width: 800px;
        height: auto;
        margin: 30px auto;
    }
}